# SC1015 DSAI Mini Project

## Part 1: Data Cleaning and Preparation
---------------------------
The first thing we did for the project was cleaning and preparation of the dataset to help us gain meaningful insights from the dataset and help us answer the question we posed.

In [75]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set() # set the default Seaborn style for graphics

In [76]:
df = pd.read_csv('Master file.csv')
df

,Data Series,TotalFertilityRate(PerFemale),15to19Years(PerThousandFemales),20to24Years(PerThousandFemales),25to29Years(PerThousandFemales),30to34Years(PerThousandFemales),35to39Years(PerThousandFemales),40to44Years(PerThousandFemales),45to49Years(PerThousandFemales),Chinese(PerFemale),...,25to29Years(Per1000UnmarriedResidentFemales),30to34Years(Per1000UnmarriedResidentFemales),35to39Years(Per1000UnmarriedResidentFemales),40to44Years(Per1000UnmarriedResidentFemales),45to49Years(Per1000UnmarriedResidentFemales),50to54Years(Per1000UnmarriedResidentFemales),55to59Years(Per1000UnmarriedResidentFemales),60to64Years(Per1000UnmarriedResidentFemales),65Years&Over(Per1000UnmarriedResidentFemales),CrudeMarriageRate(Per1000Residents)
0,2022,1.05,2.1,11.3,49.1,87.1,49.5,9.8,0.4,0.87,...,100.9,106.4,49.0,19.2,9.5,6.8,2.8,1.7,0.3,6.5
1,2021,1.12,2.2,11.7,53.4,92.9,53.6,10.2,0.3,0.96,...,79.9,81.6,39.9,17.3,9.1,5.6,2.6,1.3,0.2,5.2
2,2020,1.10,2.3,12.7,54.6,90.8,49.0,9.5,0.5,0.94,...,88.6,95.5,46.8,21.4,11.0,6.5,3.4,1.5,0.3,5.9
3,2019,1.14,2.5,12.7,59.4,92.4,50.1,9.9,0.4,0.99,...,99.8,100.0,48.0,22.0,12.1,6.3,2.8,1.5,0.2,6.4
4,2018,1.14,2.5,14.4,60.6,92.9,48.4,8.8,0.5,0.98,...,108.8,101.6,51.2,22.4,12.0,5.6,2.9,1.3,0.2,6.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,1965,4.66,35.9,227.1,259.5,216.2,138.1,54.9,na,4.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,1964,4.97,38.3,240.0,277.6,226.7,147.7,62.8,na,4.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,1963,5.16,45.7,249.0,287.2,228.7,156.1,64.9,na,4.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,1962,5.21,52.0,245.5,291.7,231.5,156.2,65.1,na,4.92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,1961,5.41,63.4,241.1,304.9,238.4,168.9,64.8,na,5.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
df.shape

(62, 195)

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Columns: 195 entries, Data Series to CrudeMarriageRate(Per1000Residents)
dtypes: float64(81), int64(2), object(112)
memory usage: 94.6+ KB

In [79]:
#Change Header names for easier reading
df = df.rename(columns={'Data Series': 'Years'})

df = df.rename(columns={'TotalFertilityRate(PerFemale)': 'TotalFertilityRate'})
df = df.rename(columns={'15to19Years(PerThousandFemales)': 'F.15to19Years'})
df = df.rename(columns={'20to24Years(PerThousandFemales)': 'F.20to24Years'})
df = df.rename(columns={'25to29Years(PerThousandFemales)': 'F.25to29Years'})
df = df.rename(columns={'30to34Years(PerThousandFemales)': 'F.30to34Years'})
df = df.rename(columns={'35to39Years(PerThousandFemales)': 'F.35to39Years'})
df = df.rename(columns={'40to44Years(PerThousandFemales)': 'F.40to44Years'})
df = df.rename(columns={'45to49Years(PerThousandFemales)': 'F.45to49Years'})


df = df.rename(columns={'TotalFemalestoBelowSecondary': 'BelowSecondary'})
df = df.rename(columns={'TotalFemalestoSecondary': 'Secondary'})
df = df.rename(columns={'TotalFemalestoPostSecondary(NontoTertiary)': 'PostSecondary(NontoTertiary)'})
df = df.rename(columns={'TotalFemalestoDiploma&ProfessionalQualification': 'Diploma&ProfessionalQualification'})
df = df.rename(columns={'TotalFemalestoUniversity': 'University'})


df = df.rename(columns={'FemaleGeneralMarriageRate(Per1000UnmarriedResidentMalesOrFemalesAged15to49Years)': 'FemaleGeneralMarriageRate'})
df = df.rename(columns={'15to19Years(Per1000UnmarriedResidentFemales)': 'M.15to19Years'})
df = df.rename(columns={'20to24Years(Per1000UnmarriedResidentFemales)': 'M.20to24Years'})
df = df.rename(columns={'25to29Years(Per1000UnmarriedResidentFemales)': 'M.25to29Years'})
df = df.rename(columns={'30to34Years(Per1000UnmarriedResidentFemales)': 'M.30to34Years'})
df = df.rename(columns={'35to39Years(Per1000UnmarriedResidentFemales)': 'M.35to39Years'})
df = df.rename(columns={'40to44Years(Per1000UnmarriedResidentFemales)': 'M.40to44Years'})
df = df.rename(columns={'45to49Years(Per1000UnmarriedResidentFemales)': 'M.45to49Years'})
df = df.rename(columns={'50to54Years(Per1000UnmarriedResidentFemales)': 'M.50to54Years'})
df = df.rename(columns={'55to59Years(Per1000UnmarriedResidentFemales)': 'M.55to59Years'})
df = df.rename(columns={'60to64Years(Per1000UnmarriedResidentFemales)': 'M.60to64Years'})
df = df.rename(columns={'65Years&Over(Per1000UnmarriedResidentFemales)': 'M.65Years&Over'})

In [80]:
#Since the years are in consecutive, we will be using it as the index instead of 0,1,2,3
df = df.set_index('Years')
df

,TotalFertilityRate,F.15to19Years,F.20to24Years,F.25to29Years,F.30to34Years,F.35to39Years,F.40to44Years,F.45to49Years,Chinese(PerFemale),Malays(PerFemale),...,M.25to29Years,M.30to34Years,M.35to39Years,M.40to44Years,M.45to49Years,M.50to54Years,M.55to59Years,M.60to64Years,M.65Years&Over,CrudeMarriageRate(Per1000Residents)
Years,,,,,,,,,,,,,,,,,,,,,
2022,1.05,2.1,11.3,49.1,87.1,49.5,9.8,0.4,0.87,1.83,...,100.9,106.4,49.0,19.2,9.5,6.8,2.8,1.7,0.3,6.5
2021,1.12,2.2,11.7,53.4,92.9,53.6,10.2,0.3,0.96,1.82,...,79.9,81.6,39.9,17.3,9.1,5.6,2.6,1.3,0.2,5.2
2020,1.10,2.3,12.7,54.6,90.8,49.0,9.5,0.5,0.94,1.82,...,88.6,95.5,46.8,21.4,11.0,6.5,3.4,1.5,0.3,5.9
2019,1.14,2.5,12.7,59.4,92.4,50.1,9.9,0.4,0.99,1.80,...,99.8,100.0,48.0,22.0,12.1,6.3,2.8,1.5,0.2,6.4
2018,1.14,2.5,14.4,60.6,92.9,48.4,8.8,0.5,0.98,1.85,...,108.8,101.6,51.2,22.4,12.0,5.6,2.9,1.3,0.2,6.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1965,4.66,35.9,227.1,259.5,216.2,138.1,54.9,na,4.31,6.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1964,4.97,38.3,240.0,277.6,226.7,147.7,62.8,na,4.60,6.78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1963,5.16,45.7,249.0,287.2,228.7,156.1,64.9,na,4.83,6.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962,5.21,52.0,245.5,291.7,231.5,156.2,65.1,na,4.92,6.63,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1961,5.41,63.4,241.1,304.9,238.4,168.9,64.8,na,5.20,6.42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 1. Preliminary Feature Selection

Firstly, we noticed that our dataset contains a lot of variables. Using all of these variables would not be feasible. Hence, we decided to select a subset of the variables and work with this subset.

The choice of the variables has been made carefully. Since our question relates to the conventionality of developers and their success, the variables we have chosen are:

**Main Variables**
- Years
- TotalFertilityRate(PerFemale)

**Variables Relating to Fertility(Per 1000 Females):**

- TotalFertilityRate(Per female)
- 15to19Years 
- 20to24Years
- 25to29Years
- 30to34Years
- 35to39Years
- 40to44Years
- 45to49Years
- 50to54Years
- 55to59Years
- 60to64Years
- 65Years&Over

**Variables Relating to Education:**

- BelowSecondary
- Secondary
- PostSecondary(NontoTertiary)
- Diploma&ProfessionalQualification
- University

**Variables Relating to Cost of Living:**

- AllItems
- Food
- Clothing&Footwear
- Housing&Utilities
- HouseholdDurables&Services
- HouseholdServices&Supplies
- HealthCare
- Transport
- PrivateTransport
- PublicTransport
- OtherTransportServices
- Communication
- Recreation&Culture
- Education
- MiscellaneousGoods&Services
- PersonalCare
- AlcoholicDrinks&Tobacco
- PersonalEffects
- AllItemsLessImputedRentalsOnOwnertoOccupiedAccommodation
- AllItemsLessAccommodation

**Variables Relating to Marriage(Per1000UnmarriedResidentFemales):**

- FemaleGeneralMarriageRate
- 15to19Years
- 20to24Years
- 25to29Years
- 30to34Years
- 35to39Years
- 40to44Years
- 45to49Years
- 50to54Years
- 55to59Years
- 60to64Years
- 65Years&Over

In [82]:
EduFactor = df[[
      'TotalFertilityRate',
      'BelowSecondary',
      'Secondary',
      'PostSecondary(NontoTertiary)',
      'Diploma&ProfessionalQualification',
      'University']]

EduFactor = EduFactor.dropna()

EduFactor

,TotalFertilityRate,BelowSecondary,Secondary,PostSecondary(NontoTertiary),Diploma&ProfessionalQualification,University
Years,,,,,,
2022,1.05,369800.0,271500.0,147700.0,265100.0,552400.0
2021,1.12,362700.0,281300.0,130000.0,239000.0,534200.0
2020,1.10,433400.0,269300.0,138800.0,226700.0,496600.0
2019,1.14,426500.0,282800.0,122400.0,225700.0,470500.0
2018,1.14,441500.0,285600.0,117600.0,215400.0,440400.0
2017,1.16,464700.0,271900.0,118200.0,207300.0,420500.0
2016,1.20,469900.0,281800.0,110600.0,199700.0,398700.0
2015,1.24,454900.0,291800.0,113200.0,200200.0,374800.0
2014,1.25,468700.0,285500.0,107800.0,198200.0,362400.0
2013,1.19,472700.0,280600.0,104700.0,183400.0,350000.0
2012,1.29,480100.0,281900.0,107300.0,177300.0,320700.0
2011,1.20,491000.0,285100.0,102900.0,166100.0,307300.0
2010,1.15,499600.0,268300.0,112600.0,165100.0,288100.0
2009,1.22,518900.0,304800.0,72800.0,149100.0,266400.0
2008,1.28,497600.0,307700.0,71600.0,140500.0,246300.0
2007,1.29,538700.0,297800.0,75300.0,131500.0,226300.0
2006,1.28,543900.0,291600.0,74000.0,122400.0,212700.0
2005,1.26,524400.0,256800.0,102800.0,126400.0,180500.0
2004,1.26,551400.0,270900.0,73400.0,106900.0,172800.0
2003,1.27,554300.0,281900.0,72800.0,99300.0,158600.0
2002,1.37,547300.0,287500.0,70600.0,86100.0,140000.0
2001,1.41,545900.0,276300.0,67700.0,84500.0,121200.0
2000,1.60,517300.0,255900.0,91800.0,91200.0,105100.0
1999,1.47,552400.0,269800.0,72100.0,69600.0,94100.0
1998,1.48,554700.0,264400.0,71200.0,61400.0,87500.0
1997,1.61,563700.0,248300.0,68000.0,49500.0,75500.0
1996,1.66,544400.0,250700.0,65100.0,48000.0,69100.0
1995,1.67,531000.0,246200.0,72700.0,40200.0,54300.0
1994,1.71,549700.0,230800.0,59300.0,33200.0,49600.0
1993,1.74,547300.0,217400.0,55700.0,28000.0,44500.0
1992,1.72,543400.0,215400.0,53200.0,26900.0,37100.0
1991,1.73,540100.0,205300.0,50100.0,21000.0,31400.0
1990,1.83,535200.0,191800.0,36700.0,18900.0,28900.0

In [83]:
MarFactor = df[[
      'TotalFertilityRate',
      'FemaleGeneralMarriageRate',
      'M.15to19Years',
      'M.20to24Years',
      'M.25to29Years',
      'M.30to34Years',
      'M.35to39Years',
      'M.40to44Years',
      'M.45to49Years',
      'M.50to54Years',
      'M.55to59Years',
      'M.60to64Years',
      'M.65Years&Over']]


MarFactor = MarFactor.dropna()
MarFactor = MarFactor.replace('na', 0)
MarFactor = MarFactor.replace(',', '', regex=True)
MarFactor

,TotalFertilityRate,FemaleGeneralMarriageRate,M.15to19Years,M.20to24Years,M.25to29Years,M.30to34Years,M.35to39Years,M.40to44Years,M.45to49Years,M.50to54Years,M.55to59Years,M.60to64Years,M.65Years&Over
Years,,,,,,,,,,,,,
2022,1.05,44.2,1.1,18.8,100.9,106.4,49.0,19.2,9.5,6.8,2.8,1.7,0.3
2021,1.12,34.9,1.2,16.7,79.9,81.6,39.9,17.3,9.1,5.6,2.6,1.3,0.2
2020,1.10,37.9,1.2,16.4,88.6,95.5,46.8,21.4,11.0,6.5,3.4,1.5,0.3
2019,1.14,40.8,1.2,18.4,99.8,100.0,48.0,22.0,12.1,6.3,2.8,1.5,0.2
2018,1.14,42.8,1.5,19.8,108.8,101.6,51.2,22.4,12.0,5.6,2.9,1.3,0.2
2017,1.16,41.6,1.7,19.9,106.8,105.8,48.9,21.3,11.7,5.5,2.4,1.4,0.2
2016,1.20,41.1,1.7,20.9,107.2,106.5,48.2,21.1,10.4,6.7,2.6,1.3,0.2
2015,1.24,40.8,1.7,22.3,103.8,105.3,44.3,19.5,11.7,5.4,2.8,1.0,0.1
2014,1.25,36.9,2.2,21.3,97.4,89.2,44.6,19.4,10.2,5.2,2.7,0.9,0.2
2013,1.19,39.4,2.3,24.4,106.7,96.2,43.2,21.0,10.5,5.7,2.7,1.3,0.2
2012,1.29,39.2,2.4,23.5,108.0,96.0,42.4,20.7,10.2,6.1,2.3,1.3,0.1
2011,1.20,35.3,2.8,22.6,99.0,81.0,36.3,16.2,10.4,5.5,2.2,0.9,0.2
2010,1.15,38.9,2.6,26.9,108.5,88.2,39.2,17.3,10.1,5.5,2.7,1.0,0.1
2009,1.22,39.6,3.1,30.9,114.5,79.8,38.8,18.7,9.6,4.3,2.3,1.0,0.2
2008,1.28,40.1,3.8,34.0,111.5,84.2,39.7,18.3,9.0,4.4,1.5,0.7,0.2
2007,1.29,40.0,3.9,37.4,110.4,78.9,33.5,17.5,8.3,4.3,2.2,0.8,0.2
2006,1.28,39.0,4.6,38.5,114.1,70.6,32.1,15.0,9.1,4.3,2.1,1.1,0.1
2005,1.26,41.2,5.0,43.3,111.2,75.9,34.1,16.4,8.9,4.1,2.2,0.6,0.2
2004,1.26,43.7,5.3,45.9,126.0,75.1,29.2,15.9,8.9,3.4,2.1,0.5,0
2003,1.27,45.8,6.3,50.1,125.6,75.2,32.9,14.1,7.9,3.4,2.2,0.6,0.1
2002,1.37,44.1,6.9,51.5,122.8,70.2,33.4,14.8,7.4,3.4,1.8,1.0,0.1
2001,1.41,46.8,7.4,54.3,133.0,69.8,32.4,17.2,8.2,4.2,1.6,0.8,0.2
2000,1.60,54.8,7.2,66.3,151.0,84.8,38.4,18.0,9.7,4.6,1.7,1.1,0.1
1999,1.47,47.9,7.6,58.7,123.9,70.5,34.6,16.8,8.5,5.0,1.3,0.7,0.1
1998,1.48,58.4,6.6,75.2,149.1,82.2,40.1,19.6,9.9,5.3,1.6,0.9,0.2
1997,1.61,52.6,7.0,65.4,137.3,74.0,35.7,19.0,8.2,3.6,1.3,0.7,0.1
1996,1.66,54.9,7.5,70.1,135.7,76.5,37.3,16.9,8.3,3.3,2.6,0.6,0.1
1995,1.67,56.1,7.9,71.0,134.2,77.6,38.8,16.7,9.9,3.2,1.3,0.4,0.2
1994,1.71,57.4,8.8,72.0,132.8,74.5,38.3,17.9,10.9,3.3,1.5,0.6,0.1
1993,1.74,59.0,10.1,78.8,133.5,74.4,36.7,17.5,9.2,3.7,1.2,0.4,0.1
1992,1.72,61.5,10.8,84.7,138.0,76.4,37.4,15.6,8.8,3.8,1.3,0.6,0.1
1991,1.73,59.2,11.0,84.8,133.0,69.1,36.6,14.7,6.7,3.6,0.8,0.3,0.1
1990,1.83,60.1,10.7,88.5,114.4,76.7,35.8,20.3,8.6,3.4,0.9,0.7,0.1
1989,1.75,65.3,10.8,94.6,130.2,76.7,38.1,20.7,7.9,3.6,1.2,0.6,0.2
1988,1.96,62.3,11.9,87.9,124.3,74.3,37.8,19.3,9.2,2.8,0.9,0.8,0.1
1987,1.62,52.6,12.4,77.5,94.1,59.2,31.9,17.3,9.3,3.7,0.9,0.4,0.1
1986,1.43,62.5,15.2,95.5,111.8,62.6,33.4,18.5,7.2,3.3,1.1,0.2,0.1
1985,1.61,66.3,15.6,101.6,124.3,68.1,41.3,16.7,8.4,2.8,1.2,0.6,0.1
1984,1.62,56.4,15.7,85.1,104.5,63.6,36.8,19.1,9.6,3.3,1.5,0.2,0
1983,1.61,63.9,17.2,100.4,119.5,75.9,47.8,23.7,11.3,3.0,1.9,0.3,0
1982,1.74,68.7,17.8,109.5,139.7,77.7,50.1,26.2,14.4,3.8,3.2,0.2,0
1981,1.78,67.3,18.4,110.5,136.5,74.3,43.6,22.0,9.2,2.6,2.1,0.3,0

In [84]:
CoLFactor = df[[
      'TotalFertilityRate',
      'AllItems',
      'Food',
      'Clothing&Footwear',
      'Housing&Utilities',
      'HouseholdDurables&Services',
      'HouseholdServices&Supplies',
      'HealthCare',
      'Transport',
      'PrivateTransport',
      'PublicTransport',
      'OtherTransportServices',
      'Communication',
      'Recreation&Culture',
      'Education',
      'MiscellaneousGoods&Services',
      'PersonalCare',
      'AlcoholicDrinks&Tobacco',
      'PersonalEffects',
      'AllItemsLessImputedRentalsOnOwnertoOccupiedAccommodation',
      'AllItemsLessAccommodation']]

CoLFactor = CoLFactor.dropna()
CoLFactor = CoLFactor.replace('na', 0)
CoLFactor = CoLFactor.replace(',', '', regex=True)
CoLFactor

,TotalFertilityRate,AllItems,Food,Clothing&Footwear,Housing&Utilities,HouseholdDurables&Services,HouseholdServices&Supplies,HealthCare,Transport,PrivateTransport,...,OtherTransportServices,Communication,Recreation&Culture,Education,MiscellaneousGoods&Services,PersonalCare,AlcoholicDrinks&Tobacco,PersonalEffects,AllItemsLessImputedRentalsOnOwnertoOccupiedAccommodation,AllItemsLessAccommodation
Years,,,,,,,,,,,,,,,,,,,,,
2022,1.05,108.370,108.813,93.416,106.406,103.842,103.286,101.746,125.793,130.958,...,113.6,98.896,103.484,102.747,98.739,100.14,100.16,97.16,108.705,108.992
2021,1.12,102.119,103.326,90.845,101.100,101.766,101.894,99.579,108.055,109.898,...,100.839,100.095,99.228,100.633,98.282,98.496,98.947,96.432,102.128,102.197
2020,1.10,99.818,101.862,96.160,99.714,100.285,100.507,98.463,99.270,98.641,...,96.935,100.681,98.210,99.370,98.823,99.947,99.024,94.88,99.683,99.657
2019,1.14,100.000,100.000,100.000,100.000,100.000,100,100.000,100.000,100,...,100,100.000,100.000,100.000,100.000,100,100,100,100,100
2018,1.14,99.438,98.498,100.777,101.003,99.227,98.555,98.905,99.235,99.68,...,99.261,100.924,98.948,97.661,99.635,99.298,99.57,100.58,99.098,99.067
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1965,4.66,25.513,22.926,54.390,27.908,32.343,0,18.604,20.608,0,...,0,133.733,49.124,15.218,18.910,0,0,0,0,0
1964,4.97,25.448,23.034,53.723,27.401,31.574,0,18.604,20.608,0,...,0,96.585,49.124,15.578,18.586,0,0,0,0,0
1963,5.16,25.033,22.468,53.415,26.907,31.498,0,18.604,20.539,0,...,0,89.155,49.077,15.412,18.823,0,0,0,0,0
1962,5.21,24.513,21.674,53.590,26.849,32.154,0,18.612,20.522,0,...,0,89.155,49.124,14.930,18.826,0,0,0,0,0
1961,5.41,24.401,21.522,53.847,26.688,32.110,0,18.604,20.537,0,...,0,89.155,49.124,14.874,18.833,0,0,0,0,0

In [85]:
FerFactor = df[[
      'TotalFertilityRate',
      'F.15to19Years',
      'F.20to24Years',
      'F.25to29Years',
      'F.30to34Years',
      'F.35to39Years',
      'F.40to44Years',
      'F.45to49Years']]


FerFactor = FerFactor.dropna()
FerFactor = FerFactor.replace('na', 0)
FerFactor = FerFactor.replace(',', '', regex=True)
FerFactor

,TotalFertilityRate,F.15to19Years,F.20to24Years,F.25to29Years,F.30to34Years,F.35to39Years,F.40to44Years,F.45to49Years
Years,,,,,,,,
2022,1.05,2.1,11.3,49.1,87.1,49.5,9.8,0.4
2021,1.12,2.2,11.7,53.4,92.9,53.6,10.2,0.3
2020,1.10,2.3,12.7,54.6,90.8,49.0,9.5,0.5
2019,1.14,2.5,12.7,59.4,92.4,50.1,9.9,0.4
2018,1.14,2.5,14.4,60.6,92.9,48.4,8.8,0.5
...,...,...,...,...,...,...,...,...
1965,4.66,35.9,227.1,259.5,216.2,138.1,54.9,0
1964,4.97,38.3,240.0,277.6,226.7,147.7,62.8,0
1963,5.16,45.7,249.0,287.2,228.7,156.1,64.9,0
1962,5.21,52.0,245.5,291.7,231.5,156.2,65.1,0
1961,5.41,63.4,241.1,304.9,238.4,168.9,64.8,0

In [88]:
#Change all the columns to float64
CoLFactor = CoLFactor.astype(float).round(2)

#Change all the columns to float64
EduFactor = EduFactor.astype(float).round(2)

#Change all the columns to float64
MarFactor = MarFactor.astype(float).round(2)

#Change all the columns to float64
FerFactor = FerFactor.astype(float).round(2)

In [89]:
#Change all the 0s to mean value
EduFactor = EduFactor.replace(0, EduFactor.mean())
CoLFactor = CoLFactor.replace(0, CoLFactor.mean())
MarFactor = MarFactor.replace(0, CoLFactor.mean())
FerFactor = FerFactor.replace(0, CoLFactor.mean())

### 8. Converting DataFrames to Pickle Files

Finally, we convert our dataframes to Pickle files so that we are able to collaborate easily and do the rest of the project smoothly.

In [90]:
#Saving the data as picklefiles
EduFactor.to_pickle('EduFactor.pickle')
CoLFactor.to_pickle('CoLFactor.pickle')
MarFactor.to_pickle('MarFactor.pickle')
FerFactor.to_pickle('FerFactor.pickle')